<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>This site was created by Hiep Tran. It uses data from mapbox.com and darksky.net!</p>

        <img src="img/55501496_566476600505719_5765074944325058560_n.jpg">
    </div>
    
    {{>footer}}
</body>

</html>